@icon-font-family-name: 'icomoon';

.header.panel > .header.links {
    float: left;

    li {
        margin-bottom: 0;
        margin: 0;
        padding: 1rem 1.5rem;

        a {
            color: grey;
        }
    }
}

.page-header .panel.wrapper {
    .panel.header {
        padding: 0;
    }

    .switcher {
        float: right;
        margin-right: 0;
        padding: 1rem 1.5rem;

        .options {
            .action.toggle:after,
            .action.toggle.active:after {
                content: '';
            }
        }

        strong {
            color: grey;
        }
    }
}

.custom-authorization-link,
.custom-link {
    display: none;
}

.header .minicart-wrapper .action.showcart {
    &:before {
        color: grey;
        content: '\e956';
        font-family: @icon-font-family-name;
        font-size: 1.1rem;
        margin-top: .3rem;
    }

    .details {
        display: inline-block;
        margin: 1rem 0;
        color: grey;
    }
}

.minicart-wrapper .action.showcart.active::before {
    color: grey;
    font-size: 1.1rem;
    margin-top: .3rem;
}

.navigation {
    background: @color-white-smoke;

    ul {
        float: right;
        margin-right: 6rem;
    }

    .level0 {
        margin: 0;
        padding: 0 1.5rem;

        & > .level-top {
            letter-spacing: 1px;
        }
    }
}

.block-content {
    .form.minisearch {
        display: none;
        margin-top: 0;
    }

    .input-text {
        height: 34px;
        background-color: #fff;
        border: 2px solid #e5e5e5;
    }
}

.btn-search,
.btn-search:hover,
.btn-search:focus {
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    width: 34px;
    border-radius: 0;
    border: 2px solid #494949;
    background-color: #fff;
    margin-top: 1rem;
}

.btn-search:before {
    font-family: @icon-font-family-name;
    content: '\e91f';
    text-align: center;
    position: relative;
    right: 7px;
}

.header-panel {
    background-color: @main-color;
    padding: 1rem 0;
    margin: 3rem 0;
    color: white;

    .header-panel-content {
        display: flex;
        max-width: 1280px;
        margin: 0 auto;
        padding-left: 0;
        list-style: none;

        li {
            margin: 0 auto;
            position: relative;
            font-weight: bold;
            color: #f2f6ec;

            span {
                font-style: italic;
            }

            &:before {
                position: absolute;
                left: -4rem;
                font-size: 18px;
                top: 50%;
                transform: translateY(-50%);
                color: #f2f6ec;
            }
        }

        .free-delivery::before {
            font-family: @icon-font-family-name;
            content: '\e90f';
        }

        .free-gift::before {
            font-family: @icon-font-family-name;
            content: '\e923';
        }

        .secure-shopping::before {
            font-family: @icon-font-family-name;
            content: '\e94d';
        }
    }
}

.newsletter-wrap {
    background-color: @main-color;

    .newsletter-container {
        display: flex;
        justify-content: space-evenly;
        max-width: 1280px;
        margin: 0 auto;
        color: white;
        padding: 1rem;

        .newsletter-label {
            display: flex;
            position: relative;

            h3 {
                font-weight: bolder;
            }

            svg {
                top: 50%;
                transform: translateY(-50%);
                left: -7rem;
                position: absolute;
                fill: white;
            }
        }

        .block {
            margin-bottom: 0;

            .newsletter {
                margin-bottom: 0;
            }
        }

        .block.newsletter .form.subscribe {
            padding: 2rem 0;
            margin-bottom: 0;
        }

        .block.newsletter .field {
            margin-right: 0;

            .control:before {
                content: '';
            }
        }

        #newsletter {
            border-radius: 1.5rem 0 0 1.5rem;
        }

        .block.newsletter {
            .action.primary {
                border: 1px solid @main-color-dark;
            }

            .action.subscribe {
                border-radius: 0 1.5rem 1.5rem 0;
                background-color: @main-color-dark;
                width: 130%;
                padding: 20px 0 20px 35px;
                height: 32px;
                display: flex;
                align-items: center;

                span {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }

                .sub-s {
                    padding-right: 3rem;
                }
            }

            input {
                padding: 20px 0 20px 35px;
            }
        }
    }
}

.page-footer {
    background: @background-color-dark;
    color: #fff;

    .footer-nav {
        display: flex;
        justify-content: space-around;

        a,
        a:visited {
            color: lightgrey;
        }

        .account,
        .customer,
        .info,
        .social {
            span {
                display: block;
                margin-bottom: 2rem;
            }

            ul li {
                margin-bottom: 1rem;
            }
        }

        .contact {
            .contact-label {
                display: block;
                margin-bottom: 2rem;
            }

            .contact-card {
                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;

                    svg:nth-child(2) {
                        margin: 0 1rem;
                    }

                    span {
                        color: lightgrey;
                    }
                }
            }
        }
    }

    .footer.content {
        border-top: none;

        .c-l {
            .mobile-payment-help {
                display: none;
            }
        }

        &:nth-child(2) {
            display: flex;
            justify-content: space-between;

            .payment {
                display: flex;

                li {
                    margin-right: 1.5rem;
                    margin-top: 3rem;

                    svg,
                    img {
                        width: 60px;
                        height: 40px;
                        max-width: none !important;
                    }
                }
            }
        }
    }

}

.block-search .field {
    position: relative;

    .control {
        position: absolute;
        top: 1rem;
        left: 0;
    }
}

.logo {
    margin: 1.3rem 0 0 0 !important;
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body {
        overflow-x: hidden;

        .block-content .form.minisearch {
            display: block;
        }

        .custom-authorization-link,
        .custom-link {
            display: block;
        }
    }

    .header.content {
        padding-top: 0;
    }

    .btn-search {
        display: none;
    }

    .logo img {
        transform: translateX(1rem);
    }

    .minicart-wrapper {
        z-index: 99;
    }

    .custom-authorization-link {
        float: right;
        z-index: 99;
        position: relative;
        margin-left: 12px;

        a {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;

            &:hover {
                text-decoration: none;
            }

            &::before {
                font-family: @icon-font-family-name, serif;
                content: '\e935';
                display: inline-block;
                font-size: @responsive-nav-icons-font-size;
                color: @responsive-nav-icons-color;
            }

            span {
                position: absolute;
                bottom: 0;
                font-size: 1.3rem;
                color: @responsive-nav-icons-color;
            }
        }
    }

    .custom-link {
        float: right;
        z-index: 99;
        position: relative;
        margin: 0 12px;
        margin-bottom: 3rem;

        a {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;

            &:hover {
                text-decoration: none;
            }

            &::before {
                content: '\e91a';
                font-family: @icon-font-family-name;
                display: inline-block;
                font-size: @responsive-nav-icons-font-size;
                color: @responsive-nav-icons-color;
            }

            span {
                position: absolute;
                bottom: 0;
                font-size: 1.3rem;
                color: @responsive-nav-icons-color;
            }
        }
    }

    .action.nav-toggle {
        height: 50px;
        width: 80px;
        top: auto;
        left: auto;
        bottom: -6px;

        &:before {
            line-height: normal;
            position: absolute;
            transform: translateX(-50%) translateY(-50%);
            left: 50%;
            top: 50%;
            color: #484848 !important;
            font-size: 4.5rem;
        }
    }

    .panel .header .minicart-wrapper {
        .action.showcart {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;

            &:before {
                margin-top: 0;
                font-size: @responsive-nav-icons-font-size;
                color: @responsive-nav-icons-color;
            }

            .text {
                border: 0;
                clip: auto;
                height: auto;
                margin: 0;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: auto;
                bottom: 0;
                font-size: 1.3rem;
                color: @responsive-nav-icons-color;
            }

            .details {
                display: none;
            }
        }
    }

    body .block-search {
        margin-top: 0;

        input {
            left: auto;
            padding: 2.2rem;
            margin: 0;

            &::placeholder {
                color: black;
                font-size: 1.8rem;
                font-style: italic;
                font-weight: bolder;
            }
        }

        .control {
            border: none;

            .label {
                display: flex;
                justify-content: center;
                position: relative;
                padding: .6rem 1.5rem;

                &:before {
                    line-height: normal;
                    color: #515151;
                    font-size: 29px;
                    font-weight: bolder;
                }
            }
        }

        .field {
            margin-left: 10rem;

            .control {
                position: static;
            }
        }
    }

    body .navigation ul {
        float: none;
        margin-right: 0 !important;
    }

    body .header-panel {
        margin: 0 0 3rem 0;
        padding: 0;

        .header-panel-content {
            flex-direction: column;

            li {
                margin: 1rem 6rem;
                position: relative;

                &:after {
                    content: '';
                    width: 200%;
                    height: 1px;
                    background-color: white;
                    position: absolute;
                    bottom: -1rem;
                    left: -50%;
                }
            }
        }
    }

    .page-header {
        border-bottom: none;
        margin-bottom: 0;
        padding: 3rem 0;
    }

    body .newsletter-wrap .newsletter-container {
        flex-direction: column;

        .block.newsletter .action.subscribe {
            width: auto;
        }

        .block,
        .newsletter-label {
            margin: 0 auto;

            svg {
                left: 0;
            }
        }
    }

    .subscribe-sale {
        display: none;
    }

    .label-content {
        padding-left: 6rem;
    }

    body .page-footer .footer-nav {
        flex-direction: column;

        & > li {
            margin-bottom: 3rem;

            span {
                font-weight: bolder;
                font-size: 2rem;
            }

            ul {
                li {
                    margin-bottom: 2rem;
                }

                a {
                    color: lightgrey;
                }
            }
        }

        .contact {
            ul {
                span {
                    color: lightgrey;
                    font-size: 1.4rem;
                }
            }
        }

        .contact .contact-card li svg:nth-child(2) {
            margin: 0 2rem;
        }

        .contact-card {
            li {
                margin-bottom: 3.5rem;
            }

            svg {
                height: 20px;
                width: 20px;
            }
        }

    }

    .page-footer .footer.content:nth-child(2) {
        flex-direction: column;

        .c-l {
            margin-bottom: 3rem;

            .mobile-payment-help {
                display: block;

                .title-bold {
                    font-weight: bolder;
                    margin-bottom: 1rem;
                }

                .sub-text {
                    color: lightgrey;
                }
            }

            .bugs,
            .copyright {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 1034px) {
    body .navigation ul {
        margin-right: 3rem;

        .level0 {
            padding: 0;
            margin-right: -1.7rem;
        }
    }
}

@media only screen and (max-width: @screen__s) {
    .minicart-wrapper {
        margin-top: 0;
    }
}
